<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="mssmscm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <mssmscm.Properties.Settings>
            <setting name="MainFormWindowState" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainFormWindowTop" serializeAs="String">
                <value>-99</value>
            </setting>
            <setting name="MainFormWindowLeft" serializeAs="String">
                <value>-99</value>
            </setting>
            <setting name="MainFormWindowWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainFormWindowHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MSSMSExec" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoExpandOnLoad" serializeAs="String">
                <value>True</value>
            </setting>
        </mssmscm.Properties.Settings>
    </userSettings>
</configuration>